@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap');


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --white-color: #ffffff;
  --primary-color-dark: #FCB72B;
  --primary-color-light:  #FFBD37; 
  --text-dark-color: #233348;
  --text-light-color: #7D7987;
  --dot-color: #FFE8B9;
  --border-color: #C2CFE0;
}


html{
  font-size: 62.5%;
  box-sizing: border-box;
}



body {
  font-size: 1.4rem;
  color: var( --text-dark-color);
  display: grid;
   grid-template-columns: [full-start] minmax(7rem, 1fr) [col-start] repeat(8, minmax(min-content, 16rem)) [col-end] minmax(7rem, 1fr) [full-end];
    grid-template-rows: min-content ;
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
  background-color: var(--white-color); 
}

#root{
  grid-column: full-start / full-end;  
  overflow-x: hidden;    
}            

@media only screen and (max-width: 75em){
  html{
    font-size: 55%;
  }
}
/* 
@media only screen and (max-width: 72em){
  body{
    grid-template-columns: [full-start] minmax(3rem, 1fr) [col-start] repeat(8, minmax(min-content, 16rem)) [col-end] minmax(3rem, 1fr) [full-end];
  }
} */

/* @media only screen and (max-width: 57em){
  
  #root{
    grid-column: full-start / full-end;
    overflow-x: hidden;   
  }            
  
} */